# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Others
*.log
.idea/
appsettings.Development.json

# Migrations folder
src/FlexNet.Infrastructure/Migrations/


